/* Write your code here */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: rgba(0, 0, 0, 0.75);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

p{
  color: white;
  font-weight: bold;
}

ul li img {
    width: 100%;
    display: block;
    cursor: pointer;
}